{% extends 'base/main.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<link rel="stylesheet" href="/static/css/manager/manager.css">

<div class="col-12">
  <div class="mobile-navlinks" style="display: grid; grid-template-columns: 50% 39% 11%;">
      <a class="btn store" style="width:auto; justify-self:end" href="{% url 'manage' %}">Users</a> 
      <a class="btn orders" style="width:auto; justify-self:start; " href="{% url 'admin_orders' %}">Orders</a>
      <a href="{% url 'logout' %}"class="btn-warning" style="font-size:14px;width:max-content;height:30px; padding:2px 6px; transform:translateX(20px)" id="logout">
        <img src="/static/images/logout.png" style="width: 22px; height: 22px; transform:translateY(1px); background-color: #ffc107; " >
      </a> 	
  </div>
</div>


{% comment %} New Design {% endcomment %}
<div class="row">
  <div class="col-lg-12">
    <div style="display:grid;grid-template-columns: 46% 7% 47%;">
      {% comment %} Filter Bar {% endcomment %}
        {% comment %} Customer Filter {% endcomment %}
        <div class="filter-bar" style="display:grid;grid-template-columns: 28% 24% 25% 23%;font-size: 14px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); border-radius:10px;background: white;">
          <div class="filter-dropdown" style="padding:2px;">
              <button class="dropdown-toggle" id="custoner-filter-dropdown-toggle" onclick="toggleDropdown('customer-filter-dropdown-menu')"  aria-haspopup="true" aria-expanded="false">
                  Filter Customers <span class="caret"></span>
              </button>

              <div class="customer-filter-dropdown-menu hidden" id="customer-filter-dropdown-menu" aria-labelledby="customer-filter-dropdown-toggle" 
              style="border:1px solid;">
                {% for customer in customers %}
                  <div class="filter-category">
                      <input type="checkbox" id="customer-filter-{{ customer.id }}" value="{{ customer.id }}">
                      <label for="customer-filter-{{ customer.id }}">{{ customer.name }}</label>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>

        <div></div>

        {% comment %} Date Filter {% endcomment %}
        <input class="date-filter" type="date" id="date-filter" name="date" value=""
        style="padding-left: 8px; padding-right: 8px;font-size: 14.5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); border-radius:10px;background: white;border:none;">
      </div>
      
  
    <hr style='border-bottom: 1px solid black;'>

  <div class="box">
    {% for customer_id, orders in customer_orders.items %}
      {% comment %} Top Header {% endcomment %}
      <div class="cart-row order-header-row" style="font-size:14.5px; border-bottom:none; padding-bottom:0px; margin-bottom:0px;" id="order-header-for-{{customer.id}}">
        <div style="flex:0.2"></div>
        <div style="flex:6" id="customer-header-{{customer_id}}"><strong>Showing Orders For : {{ customers|get_by_id:customer_id }}</strong></div>
      </div>
          
      <div class="order-sections" style="flex-wrap:wrap;">
        {% for date, items in orders.items %}
          <div class="order-section" id="customer-section-{{customer_id}}-{{date}}">
            {% comment %} Date {% endcomment %}
            <div class="section-header" style="display: grid; grid-template-columns: auto;background-color: #d1cfcb;border-top-left-radius: inherit;border-top-right-radius: inherit; ">
              <strong style="justify-self: start;padding-left: 8px;padding-top: 5px;">
                Date: {{ date }}
              </strong>
            </div>

            {% comment %} Header {% endcomment %}
            <div class="section-header" style="display: grid; grid-template-columns: 22% 33% 33%;font-weight:400;border-bottom: 1px solid #00000047;background-color: #d1cfcb; ">
              <strong style="justify-self: start;padding-left: 8px;padding-top: 5px;">
                Shade
              </strong>

              <strong style="justify-self: start;">
                <label style="display: flex; align-items: center;padding-left: 8px;padding-top: 5px;">
                  Pending
                  <input type="checkbox" class="dispatch-all-button" id="dispatch-all-{{customer_id}}-{{date}}" style="margin-left: 5px;">
                </label>
              </strong>
              
              <strong style="justify-self: start;">
                <label style="display: flex; align-items: center;padding-left: 8px;padding-top: 5px;">
                  Dispatched
                  <input type="checkbox" class="revert-all-button" id="revert-all-{{customer_id}}-{{date}}" style="margin-left: 5px;">
                </label>
              </strong>
            </div>

            {% comment %} List of all items {% endcomment %}
            <div id="combined-content-{{customer.id}}" class="section-content" style="border-radius:9px;">
              {% for item in items %}
                <div class="updating-section" id="ordered-item-{{ item.id }}">
                  <div class="inline-checkbox-{{ item.id }}" id="ordered-product-{{ item.id }}" style="display: grid; grid-template-columns: 18% 40% 42%;padding:5px;">
                    {% comment %} shades {% endcomment %}
                    <div style="justify-self: start; padding: 6px 0;padding-left:5px;" data-date="{{item.date_ordered}}">{{ item.product.name }}&nbsp;-</div>
                                                  
                    {% comment %} pending {% endcomment %}
                    <div style="display: grid; padding: 4px 0;">
                      
                      <div style="justify-self: center; padding: 2px 0px;">
                        <div style="display: grid; grid-template-columns: auto auto auto;">
                          <label for="available-{{ item.id }}" style="display: inline-block; width: 40px;">Qty : </label>
                          
                          <select id="available-{{ item.id }}" name="available-{{ item.id }}" style="display: inline-block; width: 42px; height: 26px;">
                            <option value="{{ item.pending_quantity }}">{{ item.pending_quantity }}</option>
                          </select>

                          {% comment %} Individual Full Quantity Send Checkbox {% endcomment %}
                          <input type="checkbox" class="individual-send-button" id="individual-send-{{ item.id }}" style="margin-left: 5px;">
                        
                        </div>
                      </div>

                    </div>

                    {% comment %} dispatched {% endcomment %}
                    <div style="display: grid; padding: 4px 0;">
                                
                      <div style="justify-self: center; padding: 2px 0;">
                        <div style="display: grid; grid-template-columns: auto auto auto;">
                          <label for="dispatched-{{ item.id }}" style="display: inline-block; width: 40px;">Qty : </label>

                          <select id="dispatched-{{ item.id }}" name="dispatched-{{ item.id }}" style="display: inline-block; width: 42px; height: 26px;">
                            <option value="{{ item.dispatched_quantity }}">{{ item.dispatched_quantity }}</option>
                          </select>

                          {% comment %} Individual Full Quantity Revert Checkbox {% endcomment %}
                          <input type="checkbox" class="individual-revert-button" id="individual-revert-{{ item.id }}" style="margin-left: 5px;">
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <br>  
      {% endfor %}
    </div>
  </div>
</div>

<br>



<script src="/static/js/admin/navbar.js"></script>
<script src="/static/js/manager/filterbar.js"></script>
<script src="/static/js/manager/orders.js"></script>


{% endblock content %}

